<div class="content-wrapper d-flex flex-grow-1 flex-md-row flex-column">
  <div class="video-wrapper flex-md-grow-1 flex-grow-0">
    <video class="video-player"
           src="{{videoLink}}"
           controls="true"
           type="video/mp4"></video>
  </div>

  <div class="chat-wrapper d-flex flex-column flex-grow-1">
    <div class="chat-log">
      <p *ngFor="let message of messages">
        {{message}}
      </p>
    </div>
    <div class="chatbox p-3">
      <div class="input-group">
        <input type="text"
               class="form-control"
               aria-describedby="basic-addon2"
               name="chatbox"
               id="chatbox"
               #chatbox
               (keydown.enter)="sendMessage(chatbox)">
        <div class="input-group-append">
          <button class="btn btn-outline-primary"
                  type="button">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>